<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List Aps</title>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div id="app">
      <div class="form-group">
        <h1>To Do List</h1>
        <input type="text" name="todo" id="todo" class="form-control" placeholder="To Do .." v-model="todo"
          @keyup.enter="addTodo">
        <button class="btn btn-primary" style="margin-top:8px" @click="addTodo()">Add</button>
      </div>

      <!-- table -->
      <table class="table" v-if="todos.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Todo</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data, index) in todos" :key="index">
            <td scope="row">{{index+1}}</td>
            <td>{{data}}</td>
            <td>
              <button class="btn btn-danger" @click="deleteTodo(index)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 v-else>Empty data</h3>
    </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>

<!-- 
 * directive v-model = untuk two-way data binding dengan property todo
 * handler @keyup.enter = menangani event ketika tombol enter ditekan, yaitu memanggil method addTodo. Method ini yang akan menyimpan isian user (disimpan sementara di dalam todo) ke dalam array todos 
 
 * todos adalah array yang menyimpan semua isian user pada form
 * todo adalah variabel yang menyimpan sementara item di dalam todos selama looping (tidak ada kaitan dengan todo yang menjadi property data di dalam app.js)
 * handler @click memanggil method deleteTodo ketika ditekan untuk menghapus todo tertentu dengan mengacu pada nilai index 


 -->